@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
	--background: #7FD1AE;
	--foreground: #171717;
}

@theme {
	/* Colors */
	--color-purple-200: #9180F1;
	--color-purple-100: #DDD7FF;
	--color-blue-200: #2862C2;
	--color-blue-100: #4285F4;
	--color-charcoal-200: #272727;
	--color-charcoal-100: #2F2F2F;
	--color-grey-200: #B7B7B7;
	--color-grey-100: #F4F2F1;
	--color-grey-300: #818181;
	--color-orange: #EF613A;
	--color-bluewash: #F5F9FF;
	--color-white: #FFFFFF;

	/* Fonts */
	--font-mada: "Mada", sans-serif;

	/* Screens */
	--breakpoint-mobile: 640px;
	--breakpoint-tablet: 1030px;
	--breakpoint-desktop: 1600px;

	/* Animation */
	--animate-modal: modalAnimation 0.1s ease-in-out;

	@keyframes modalAnimation {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.svg-mint > svg {
		stroke: var(--color-mint);
	}
	.svg-citric > svg {
		fill: var(--color-citric);
	}
	.text-gradient-end {
		background: linear-gradient(
			to right,
			var(--color-grey-300) 0%,
			var(--color-grey-100) 80%,
			var(--color-grey-100) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text; /* fallback */
		
	}
}

body {
	color: var(--foreground);
	font-family: Mada, sans-serif;
}

button {
    box-shadow: none !important;
}

fieldset{
	border: none
}

